In [2]:
tpl = {"aman", "222", 777, 400.4}

# Printing tuple
print(type(tpl), " ", tpl)

# set() method convert set to tuple
s = tuple(tpl)
print("Converting tuple to set")

# printing tuple
print(type(s), " ", s)

<class 'set'>   {400.4, 777, 'aman', '222'}
Converting tuple to set
<class 'tuple'>   (400.4, 777, 'aman', '222')

In [3]:
data={"first name":"arvind","roll no":"cb.en.u4cse20209","lastname":"balajee","dob":"15/07/2002"}
print(data)

{'first name': 'arvind', 'roll no': 'cb.en.u4cse20209', 'lastname': 'balajee', 'dob': '15/07/2002'}

In [3]:
import numpy as np
np.random.seed(10)
arr=np.random.random((2,2))
print(arr)

[[0.77132064 0.02075195]
 [0.63364823 0.74880388]]

In [4]:
from numpy import random
x=random.rand()
print(x)
y=-1234
print(abs(y))

0.4985070123025904
1234

In [5]:
from numpy import random
x=random.randint(20,90)
print(x)

49

In [6]:
import random
set={11,12,13,14,15}
d=tuple(set)
a=random.sample(set,3)
print(a)
b=random.sample(set,5)
print(b)
l=random.choice(d)
print(l)

[11, 13, 12]
[11, 13, 12, 14, 15]
15

In [ ]:
f=open("testfile.txt","w")
f.close()
f = open("testfile.txt", "w")
f.write("The King is Dead, Long Live The King")
f.close()
f=open("testfile.txt","r")
print(f.read())

In [ ]:
price = 50
quantity = 5
amount = price*quantity

if amount > 100:
    if amount > 500:
        print("Amount is greater than 500")
    else:
        if amount < 500 and amount > 400:
            print("Amount is")
        elif amount < 500 and amount > 300:
            print("Amount is between 300 and 500")
        else:
            print("Amount is between 200 and 500")
elif amount == 100:
    print("Amount is 100")
else:
    print("Amount is less than 100")

In [ ]:
for x in range (10,20):
		if (x == 15):
                    break
		if (x % 5 == 0) :
                    continue
		print x

x=0
#define a while loop
while(x <4):
		print(x)
		x = x+1

In [ ]:
x="The King is Dead, Long Live The King"
print(x)
print(x[0])
print(x[3:6])
print(x[3:])
print(x.split())
y=[1,2,6,8]
print(y[0],y[1],sep=' ')

In [ ]:
import numpy as np
x=np.array([[1,2,3],[4,5,6]])
print(x)

In [ ]:
import numpy as np

x=np.array([[1,2,3],[4,5,6]])
print(x[1,0:])
print(x[0:2,1])
print(len(x))

In [ ]:
import numpy as np
x=np.array([1,2,3,4,5,6,7,8,9,0])
y=x.reshape(2,5)
print(y)

In [ ]:
import numpy as np
x=[1,2,3]
y=np.array(x)
print(y)

In [ ]:
x=[2,4,5]
sum=0
for i in x:
    sum+=i
print(sum)

In [ ]:
x=[1,2,3]
x[0]=9
x[1]=9
x[2]=9
print(x)

In [ ]:
import numpy as np
x=np.array([77,74,75])
print(x.prod())

In [ ]:
import numpy as np
x=np.array([2,1,9,1,2,22,1,1,4,55,6,2,56])
print(x.mean())
print(np.median(x))
print(x.max())
print(x.min())
print(x.var())
print(x.argmin())
print(x.argmax())
print(x.std())

In [ ]:
import numpy as np
y=np.unique([2,1,9,1,2,22,1,1,4,55,6,2,56])
print(y)

In [ ]:
import numpy as np
x=np.dot([1,2,3],[4,5,6])
print(x)

In [ ]:
import numpy as np
x=np.array([[2 ,-12],[1,-5]])
w, v = np.linalg.eig(x)
print(w)
print(v)

In [ ]:
import numpy as np
yarr = rng.random(([11, 22, 11, 31], 3))
R2 = np.corrcoef(xarr, yarr)