In [73]:
#q1
import pandas as p
import matplotlib.pyplot as mat
d=p.read_csv("https://github.com/flaviovdf/evcomp2018/raw/master/data/nc-est2015-agesex-res.csv")
#print(df)
df=p.DataFrame(d)
#print(df.size)
#print(df.describe())
#df.rename(columns={'POPESTIMATE2010':'2010' , 'POPESTIMATE2014':'2014' },inplace=True)
#print(df.head(10))
#print(df.loc[[15,22],:])
#df["Change"]=""
#df["Population Change"]=""
#df.set_index("AGE", inplace = True)
#df.loc[[67,68,69,70,71],["2010","2014"]]
#df.plot(kind='scatter',x='AGE',y='SEX')
# 2 more left

KeyError: 'TEAM'

In [80]:
#q2
import pandas as p
import numpy as np
d=p.read_csv("https://github.com/flaviovdf/evcomp2018/raw/master/data/nba_salaries.csv")
#print(df)
df=p.DataFrame(d)
print(df.size)
print(df.head(5))
print(df.loc[[3,10,22],:])
df.sort_values("SALARY")
df.sort_values("SALARY",ascending=False)
df.sort_values("PLAYER")
print(df["SALARY"].head(5))
print(df.loc[df['SALARY']>10])
df.set_index("PLAYER", inplace = True)
df.loc[['Stephen Curry'],'SALARY']
print(df.loc[(df['SALARY']>15) & (df['POSITION']=='PG')])
df.set_index("TEAM", inplace = True)
print(df.loc['Golden State Warriors'])
df.groupby('TEAM').sum('SALARY')
df.groupby('POSITION').count()
df.groupby('POSITION').mean('SALARY')

            SALARY
POSITION
C         6.082913
PF        4.951344
PG        5.165487
SF        5.532675
SG        3.988195

In [85]:
#q3
import pandas as p
import matplotlib.pyplot as mat
d=p.read_csv("https://github.com/flaviovdf/evcomp2018/raw/master/data/educ_inc.csv")
df=p.DataFrame(d)
print(df)
#df.groupby('Educational Attainment').sum('Population Count')

             Year        Age  Gender          Educational Attainment  \
0     1/1/08 0:00   00 to 17    Male  College, less than 4-yr degree
1     1/1/08 0:00   00 to 17  Female  College, less than 4-yr degree
2     1/1/08 0:00  65 to 80+    Male  College, less than 4-yr degree
3     1/1/08 0:00  65 to 80+  Female          No high school diploma
4     1/1/08 0:00   00 to 17  Female          No high school diploma
...           ...        ...     ...                             ...
1021  1/1/14 0:00   18 to 64  Female       High school or equivalent
1022  1/1/14 0:00   18 to 64    Male     Bachelor's degree or higher
1023  1/1/14 0:00   18 to 64  Female          No high school diploma
1024  1/1/14 0:00   18 to 64  Female     Bachelor's degree or higher
1025  1/1/14 0:00   18 to 64    Male     Bachelor's degree or higher

          Personal Income  Population Count
0     C: 10,000 to 14,999              1304
1       B: 5,000 to 9,999              1565
2           A: 0 to 4,999              1923
3      H: 75,000 and over              1981
4     D: 15,000 to 24,999              2009
...                   ...               ...
1021        A: 0 to 4,999            670294
1022  G: 50,000 to 74,999            682425
1023        A: 0 to 4,999            723208
1024   H: 75,000 and over            953282
1025   H: 75,000 and over           1628605

[1026 rows x 6 columns]